@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
  margin: 20px;
}

form {
  margin: 20px 0;
}

input {
  margin-right: 10px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

audio {
  margin-top: 20px;
  width: 300px;
}
